%script{:src => "https://d3js.org/d3.v4.min.js"}
%section
  .container.visitor-section
    .row.text-center
      %h1 Dashboard
      %hr.colored
    .row
      .col-md-12
        .jumbotron
          = line_chart @chart_data
    .row
      .col
        .panel.panel-focus.filterable
          .panel-heading
            %h3.panel-title 
              Forecasted Transactions
              %button.btn.btn-success.btn-xs#new-bill New Bill
            .pull-right
              #readjustment-form.hide{style:'height:22px;'}
                = render 'transactions/readjustment'
              ="Starting Balance: $#{current_user.bank.balance}"
              %button.btn.btn-info.btn-xs#readjustment-button Change
          .table-responsive
            %table.table-focus.table.table-condensed.table-hover
              %thead
                %tr
                  %th Date
                  %th Summary
                  %th 
                  %th Change
                  %th Forecast
                  %th.pull-right Actions
              %tbody
                - @forecast.each do |f|
                  - f.each do |date,transactions|
                    %tr
                      %th{colspan: 6}= date
                    - transactions.each do |transaction|
                      %tr
                        %th
                        %th= link_to transaction[:summary], bills_path+"/#{transaction[:bill_id]}", class: 'text-info'
                        %th= transaction[:note]
                        %th{class: text_color_by_value(transaction[:amount])}= "$ #{transaction[:amount]}"
                        %th{class: text_color_by_value(transaction[:balance])}= "$ #{transaction[:balance]}"
                        %th
                          .pull-right.btn-group
                            %button.btn.btn-success.btn-xs Mark Paid
                            %button.btn.btn-info.btn-xs Skip