%script{:src => "https://d3js.org/d3.v4.min.js"}
%section
  .container.visitor-section
    .row.text-center
      %h1 Dashboard
      %hr.colored
    - unless @forecast
      .row
        .col
          .jumbotron
            %h1.text-center No Bills Found
            %p.lead
              Get started by adding some, 
              = link_to 'click to add.', bills_path
            %hr
            %h3.lead.text-black Need help getting started?
            = link_to 'Generate some examples', generate_examples_path, method: :post, class: 'btn-primary btn'
    - else
      .row
        .col-md-12
          .jumbotron.well
            = line_chart dashboard_chart_path
      .row
        .col
          .panel.panel-focus.filterable
            .panel-heading
              .row
                .col-md-3
                  %h3.panel-title
                    Forecasted Transactions
                .col-md-6
                  .balance-text="Starting Balance: $#{current_user.bank.balance}"
                  #readjustment-form.hide{style:'height:22px;'}
                    = render 'transactions/readjustment'
                .col-md-3{style: 'text-align: right;'}
                  %button.btn.btn-info.btn-xs#readjustment-button Change
            
            .table-responsive
              %table.table-focus.table.table-condensed.table-hover
                %thead
                  %tr
                    %th Date
                    %th Forcast
                    %th Change
                    %th{colspan: 2} Transaction
                    %th{colspan: 2} Link
                    %th.pull-right Actions
                %tbody
                  - @forecast.each do |f|
                    - f.each do |date,transactions|
                      %tr
                        - if transactions.count > 1
                          %th= date
                          - ending = transactions.last[:balance]
                          %th.lead{class: text_color_by_value(ending)}= "$ #{ending}"
                          - sum = transactions.map{|t| t[:amount]}.inject(:+)
                          %th.lead{class: text_color_by_value(sum)}= "$ #{sum}"
                          %th{colspan: 5}
                      - transactions.each do |transaction|
                        %tr{id: "#{date}_#{transaction[:recurrence_id]}"}
                          - class_size = 'small'
                          - if transactions.count == 1
                            %th= date
                            - class_size = 'lead'
                          - else
                            %th
                          %th{class: "#{text_color_by_value(transaction[:balance])} #{class_size}"}= "$ #{transaction[:balance]}"
                          %th{class: "#{text_color_by_value(transaction[:amount])} #{class_size}"}= "$ #{transaction[:amount]}"
                          %th= link_to transaction[:summary], bills_path+"/#{transaction[:bill_id]}"
                          %th= transaction[:note]
                          %th= build_website_link(@websites[transaction[:bill_id]])
                          %th
                            .btn-group.pull-right
                              = form_tag mark_paid_path, remote: true do
                                = hidden_field_tag 'amount', transaction[:amount]
                                = hidden_field_tag 'recurrence_id', transaction[:recurrence_id]
                                = hidden_field_tag 'date', date
                                = button_tag 'Mark Paid', class: 'btn btn-success btn-xs', data: { disable_with: "submitting"}
                          %th
                            .btn-group.pull-right
                              = form_tag skip_payment_path, remote: true do
                                = hidden_field_tag 'recurrence_id', transaction[:recurrence_id]
                                = hidden_field_tag 'date', date
                                = button_tag 'Skip', class: 'btn btn-info btn-xs', data: { disable_with: "submitting"}
