.panel.panel-primary.filterable
  .panel-heading
    %h3.panel-title Forecasted Transactions
    .pull-right
      ="Starting Balance: #{@balance}"
  %div.table-responsive
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Date
        %th{colspan:"4"} Bills
        %th Change
        %th Balance
    %tbody
      - date = 0
      - balance = @balance
      - @dates.each do |date, row|
        %tr.clickable.accordion-toggle{class: (row[:balance] < 0 ? "danger" : (row[:balance] < 500 ? "warning" : '')), data: {toggle: "collapse", target: ".row-#{date}"}, id: "row-#{date}" }
          %td=date
          %td{colspan:"4"}
            %span.badge
              =row[:payments].count
            =row[:summary]
          %td
            %span{class: (row[:change] < 0 ? "label label-debit" : "label label-credit")}
              =row[:change]
          %td=row[:balance]
        - row[:payments].each do |payment|
          %tr.collapse{class: "row-#{date}"}
            %td
            %td{colspan:"2"}
              - account = payment.source.account
              - color = account.color
              = link_to account.name, account, :class => "btn btn-info btn-xs", style: "width:40%;background-color:#{color};border-color:#{border_color color};border-bottom-color:#{shadow_color color};"
              - bill = payment.source
              - color = bill.color
              = link_to bill.summary, bill, :class => "btn btn-info btn-xs", style: "width:40%;background-color:#{color};border-color:#{border_color color};border-bottom-color:#{shadow_color color};"
            - if payment.amount < 0
              %td= payment.amount
              %td
            - else
              %td
              %td= payment.amount
            %td
              %button.btn.btn-success.btn-xs{:type => "button"} Mark Paid
