%section
  .container.visitor-section
    .row.text-center
      %h1 Dashboard
      %hr.colored
    .row
      .col-md-12
        .jumbotron
          %p Chart goes here.
    .row
      .col
        .panel.panel-focus.filterable
          .panel-heading
            %h3.panel-title 
              Forecasted Transactions
              %button.btn.btn-success.btn-xs#new-bill New Bill
            .pull-right
              ="Starting Balance: $#{current_user.bank.balance}"
              %button.btn.btn-info.btn-xs#readjustment-button Change
          .table-responsive
            %table.table-focus.table.table-condensed.table-hover
              %thead
                %tr
                  %th Date
                  %th Summary
                  %th 
                  %th Change
                  %th Forecast
                  %th.pull-right Actions
              %tbody
                - @forecast.each do |f|
                  - f.each_pair do |date,transaction|
                    %tr
                      %th= date
                      %th= transaction[:summary]
                      %th= transaction[:note]
                      %th= "$ #{transaction[:amount]}"
                      %th= "$ #{transaction[:balance]}"
                      %th
                        .pull-right.btn-group
                          %button.btn.btn-success.btn-xs Mark Paid
                          %button.btn.btn-info.btn-xs Skip

                



