%section
  .container.visitor-section
    .row.text-center
      %h1 Account Settings
      %div{:style => "float:right; font-size: 85%; position: relative; top:-20px"}
        = link_to 'Delete Account', registration_path(resource_name), method: :delete, :data => { :confirm => "Deleting account, Are you sure?" }, :class => "btn btn-danger btn-xs"
      %hr.colored
    .row
      .col-md-offset-4.col-md-4
        = form_for(resource, as: resource_name, url: registration_path(resource_name), html: {role: 'form', class: 'form-horizontal', method: :put})do |f|
          - if resource.errors.any?
            .panel.panel-danger
              .panel-heading
                %h3.panel-title
                  = pluralize(resource.errors.count, "error")
                  prohibited this from being saved:
              .panel-body
                %ul
                  - resource.errors.full_messages.each do |message|
                    %li= message
            -#= devise_error_messages!
          .form-group
            - if devise_mapping.confirmable? && resource.pending_reconfirmation?
              .alert.alert-warning{:role => "alert"}
                Currently waiting confirmation for: #{resource.unconfirmed_email}
            %label.control-label{:for => "user_email"} Email Address
            = f.email_field :email, class: 'form-control'
          .form-group
            %label.control-label{:for => "user_password"} Password
            = f.password_field :password, autocomplete: "off", class: 'form-control'
            %p.help-block (leave blank if you don't want to change it)
          .form-group
            %label.control-label{:for => "user_password_confirmation"} Password Confirmation
            = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
          .form-group
            %label.control-label{:for => "user_password_confirmation"} Current Password
            = f.password_field :current_password, autocomplete: "off", class: 'form-control'
            %p.help-block (we need your current password to confirm your changes)
          .form-group
            .col-md-offset-3.col-md-9
              %button.btn.btn-success.btn-md.btn-group{:type => "submit"} Update
