%div.table-responsive
  %table.table.table-condensed.table-hover
    %thead
      %tr
        %th Note
        %th Amount
        %th Active At
        %th Expires On
        %th Frequency
        %th Interval
        %th
    %tbody
      - recurrences.each do |recurrence|
        %tr
          %td= best_in_place recurrence, :note, as: :input, :display_with => lambda { |v| v.blank? ? 'Recurrence' : v }
          %td= best_in_place recurrence, :amount, as: :input
          %td= best_in_place recurrence, :active_at, as: :input, :display_with => lambda { |v| v.to_date }
          %td= best_in_place recurrence, :expires_at, as: :input, :display_with => lambda { |v| v.to_date unless v.blank? }
          %td= best_in_place recurrence, :frequency, as: :select, collection: array_to_bip_options(Recurrence::FREQUENCY_KINDS)
          %td= best_in_place recurrence, :interval, as: :input
          %td
            .pull-right.btn-group
              =link_to 'Advance', advance_recurrence_path(recurrence, recurrence: {active_at: recurrence.next_date}), method: :put, remote: false, :class => "btn btn-success btn-xs"
              = link_to_delete(recurrence)
