= link_to 'Banks', banks_path
= link_to 'Accounts', accounts_path
= link_to 'Bills', bills_path

%table
  %thead
    %tr
      %th Date
      %th Amount
      %th Balance
      %th Bill
  %tbody
    - date = 0
    - balance = @balance
    - @logicals.each do |logical|
      %tr
        - if date != logical.date
          %td= logical.date
        - else
          %td
        - date = logical.date
        - if logical.bill.bill_type == "DEBIT"
          %td="-#{logical.amount}"
          - balance -= logical.amount
          %td=balance
        - else
          %td=logical.amount
          - balance += logical.amount
          %td=balance
        %td="#{logical.bill.summary} - #{logical.bill.account.name}"