%section
  .container.visitor-section
    .row.text-center
      %h1 Resend Invitation
      %hr.colored
    .row
      .col-md-offset-4.col-md-4
        = form_tag({controller: "welcome", action: "invite"}, method: "put", role: "form") do -# "/users/invitation/resend", method: "put") do
          .form-group.float-label-control
            = label_tag :email, "Email"
            = email_field_tag :email, nil, class: 'form-control',placeholder: 'Email Address'
          %button.btn.btn-primary.btn-block{:type => "submit"} Resend me invitation instructions
          = link_to "Log in", new_session_path(:user)
          .right= link_to "Forgot your password?", new_password_path(:user)
