.form-btn
  = form_for @bill, html: {role: 'form', class: 'form-inline', remote: true} do |f|
    - if @bill.errors.any?
      #error_explanation
        %h2
          = pluralize(@bill.errors.count, "error")
          prohibited this bill from being saved:
        %ul
          - @bill.errors.full_messages.each do |message|
            %li= message
    = f.hidden_field :color, value: "##{"%06x" % (rand * 0xffffff)}"
    = f.hidden_field :bank_id, value: current_user.bank.id
    .form-group
      = f.text_field :summary, placeholder: 'Add description', class: 'form-control', required: true
    .form-group
      = f.select :bill_type, options_for_select([['Income', 'INCOME'],['Expense', 'EXPENSE']],"EXPENSE"), {prompt: 'Select Type'}, required: true, class: 'form-control'
      = f.fields_for :recurrences_attributes do |r|
        = render 'bills/recurrence_fields', r: r
    .form-group
      %button.btn.btn-primary.btn-md.btn-group{:type => "submit"} Create