.form-btn
  = form_for @bill, html: {role: 'form', class: 'form-inline', remote: true} do |f|
    - if @bill.errors.any?
      #error_explanation
        %h2
          = pluralize(@bill.errors.count, "error")
          prohibited this bill from being saved:
        %ul
          - @bill.errors.full_messages.each do |message|
            %li= message
    = f.hidden_field :color, value: "##{"%06x" % (rand * 0xffffff)}"
    = f.hidden_field :bank_id, value: @bill.bank_id
    .form-group
      = f.text_field :summary, placeholder: 'Add description', class: 'form-control', required: true
    .form-group
      = f.select :bill_type, options_for_select([['Income', 'CREDIT'],['Expense', 'DEBIT']]), {prompt: 'Select Type'}, required: true, class: 'form-control'
      = f.fields_for :recurrences do |r|
        .form-group
          = r.text_field :amount, placeholder: 'Amount', class: 'form-control'
        .form-group
          = r.date_field :active_at, class: 'form-control', required: true
    .form-group
      %button.btn.btn-primary.btn-md.btn-group{:type => "submit"} Create