%div.table-responsive
  %table.table-focus.table.table-condensed.table-hover
    %thead
      %tr
        %th Summary
        %th Amount
    %tbody
      - @bills.each do |bill|
        %tr
          - color = bill.color
          %td= link_to bill.summary, bill, :class => "btn btn-success btn-xs", style: "background-color:#{color};border-color:#{border_color color};border-bottom-color:#{shadow_color color};width:70%;"
          %td
            %span.label{class: "label-#{bill.bill_type.downcase}"}= bill.recurrences.nil? ? bill.recurrences.first.amount : 0
            %span.badge= bill.recurrences.count
          %td
            .pull-right.btn-group
              = link_to 'Split', bill, :class => "btn btn-success btn-xs"
              = link_to_delete(bill)
