%div.table-responsive
  %table.table-focus.table.table-condensed.table-hover
    %thead
      %tr
        %th Summary
        %th Next Due Date
        %th Amount
        %th
    %tbody
      - @bills.each do |bill|
        %tr
          %td= link_to bill.summary, bill, :class => "btn btn-success btn-xs btn-block", style: button_styling(bill.color)
          %td= to_date(bill.next_due.active_at)
          %td
            - if bill.next_due
              %span.label{class: "label-#{bill.bill_type.downcase}"}= bill.next_due.amount
          %td
            .pull-right.btn-group
              = link_to 'Edit', bill, :class => "btn btn-success btn-xs"
              = link_to_delete(bill)
