.row
  .col-md-10.col-md-offset-1
    %h1 Listing bills
  .col-md-10.col-md-offset-1
    .panel.panel-primary.filterable
      .panel-heading
        %h3.panel-title Bills
        .pull-right
          %button.btn.btn-info.btn-xs#new-bill-button{:type => "button"} New Bill
      #new-bill-form{style:'display:none;'}
        = render 'bills/form'
      %table.table.table-striped.table-bordered.table-hover
        %thead
          %tr
            %th Bill
            %th Account
            %th Type
            %th Amount
            %th Bank
            %th Actions
        %tbody
          - @bills.each do |bill|
            %tr
              %td= best_in_place bill, :summary, as: :input
              %td= link_to bill.account.name, bill.account, :class => "btn btn-info btn-xs btn-block"
              -#= best_in_place bill, :account, :type => :select, nil: "Uhoh", display_as: :account_name, collection: accounts_bip_collection(@accounts)
              %td= best_in_place bill, :bill_type, as: :select, collection: {"CREDIT"=>"Credit","DEBIT"=>"Debit"}, class: "label label-#{bill.bill_type.downcase}" #class: %span.label.label-info Info #bill.bill_type
              %td= best_in_place bill, :amount, as: :input
              %td= link_to bill.bank.name, bill.bank, :class => "btn btn-info btn-xs btn-block"
              %td
                =link_to 'More Info', bill, :class => "btn btn-success btn-xs btn-block"
                =link_to 'Destroy', bill, :method => :delete, data: { confirm: "Deleting bill '#{bill.summary}', Are you sure?" }, :class => "btn btn-danger btn-xs btn-block"
:javascript
  $(document).ready(function(){
    $('#new-bill-button').click(function(){
      $button = $('#new-bill-button')
      $form = $('#new-bill-form')
      $form.toggle();
      if ($form.is(":visible") ){
        $button.html("Cancel")
      } else {
        $button.html("Add Bill")
      }
    });
  });