.row
  .mainbox.col-md-6{:style => "margin-top:50px"}
    .panel.panel-primary
      .panel-heading
        %h3.panel-title Info
        %div{:style => "float:right; font-size: 85%; position: relative; top:-20px"}
          -#%a{:href => "#"} Delete?
          = link_to 'Delete', @bill, :method => :delete, :data => { :confirm => "Delete #{@bill.summary}, Are you sure?" }, :class => "btn btn-danger btn-xs"
      .panel-body
        = form_for @bill, html: {role: 'form', class: 'form-horizontal'} do |f|
          - if @bill.errors.any?
            #error_explanation
              %h2
                = pluralize(@bill.errors.count, "error")
                prohibited this bill from being saved:
              %ul
                - @bill.errors.full_messages.each do |message|
                  %li= message
          .form-group
            %label.col-md-3.control-label{:for => "bill_summary"} Summary
            .col-md-9
              = f.text_field :summary, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "bill_account_id"} Account
            .col-md-9
              = f.select :account_id, options_from_collection_for_select(current_user.accounts, 'id', 'name', @bill.account.id), {prompt: 'Account'}, {required: 'true', class: 'form-control'}
          .form-group
            %label.col-md-3.control-label{:for => "bill_bill_type"} Type
            .col-md-9
              = f.select :bill_type, options_for_select([['Credit', 'CREDIT'],['Debit', 'DEBIT']], @bill.bill_type), {prompt: 'Type'}, {required: 'true', class: 'form-control'}
          .form-group
            %label.col-md-3.control-label{:for => "bill_amount"} Amount
            .col-md-9
              = f.text_field :amount, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "bill_bank_id"} Bank
            .col-md-9
              = f.select :bank_id, options_from_collection_for_select(current_user.banks, 'id', 'name', @bill.bank.id), {prompt: 'Bank'}, {required: 'true', class: 'form-control'}
          .form-group
            %label.col-md-3.control-label{:for => "bill_color"} Color
            .col-md-9
              = f.text_field :color, class: 'minicolors form-control', :style => "height:34px;"
          .form-group
            .col-md-offset-3.col-md-9
              %button.btn.btn-success.btn-md.btn-group{:type => "submit"} Update
  .col-md-6{:style => "margin-top:50px"}
    .panel.panel-primary
      .panel-heading
        .panel-title Transactions
        %div{:style => "float:right; font-size: 85%; position: relative; top:-20px"}
          %button.btn.btn-info.btn-xs#new-exception-button{:type => "button"} Add Transaction
      #new-exception-form{style:'display:none;'}
        = render 'transactions/form', bill: @bill
      .panel-body
        %div.table-responsive
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th Date
                %th Summary
                %th Amount
            %tbody
              - @transactions.each do |transaction|
                %tr
                  %td= best_in_place transaction, :date, as: :input, :display_with => lambda { |v| v.to_date }
                  %td= best_in_place transaction, :summary, as: :input
                  %td= best_in_place transaction, :amount, as: :input
                  %td
                    =link_to 'Destroy', transaction, :method => :delete, data: { confirm: "Deleting transaction '#{transaction.summary}', Are you sure?" }, remote: true, :class => "btn btn-danger btn-xs pull-right"

.row
  .col-md-10.col-md-offset-1
    .panel.panel-primary
      .panel-heading
        .panel-title Recurrences
        %div{:style => "float:right; font-size: 85%; position: relative; top:-20px"}
          %button.btn.btn-info.btn-xs#new-recurrence-button{:type => "button"} Add Recurrence
      #new-recurrence-form{style:'display:none;'}
        = render 'recurrences/form', bill: @bill
      .panel-body
        = render 'recurrences/index', recurrences: @recurrences
:javascript
  $(document).ready(function(){
    $('#new-exception-button').click(function(){
      $button = $('#new-exception-button')
      $form = $('#new-exception-form')
      $form.toggle();
      if ($form.is(":visible") ){
        $button.html("Cancel")
      } else {
        $button.html("Add Transaction")
      }
    });
    $('#new-recurrence-button').click(function(){
      $button = $('#new-recurrence-button')
      $form = $('#new-recurrence-form')
      $form.toggle();
      if ($form.is(":visible") ){
        $button.html("Cancel")
      } else {
        $button.html("Add Recurrence")
      }
    });
  });