%nav.navbar.navbar-fixed-top.navbar-inverse{role: 'navigation'}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Finance Forecaster', root_url, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        - if user_signed_in?
          = render partial: 'layouts/nav_link', locals: {:nav_icon => 'fa-chart-line',:nav_text=> 'Dashboard',:nav_path=> dashboard_path}
          = render partial: 'layouts/nav_link', locals: {:nav_icon => 'fa-money-check-alt',:nav_text=> 'Bills',:nav_path=> bills_path}
          = render partial: 'layouts/nav_link', locals: {:nav_icon => 'fa-exchange-alt',:nav_text=> 'Transactions',:nav_path=> transactions_path}
          %li
            = link_to('Sign out', destroy_user_session_path, :method => :delete)
        - else
          %li
            = link_to 'Sign up', new_user_registration_path
          %li
            = link_to 'Log in', new_user_session_path
          %li
            = link_to 'Contact', "mailto:dustin@atwood.email"
