= nav_link_helper('Dashboard', dashboard_path)
= nav_link_helper('Bills', bills_path)
= nav_link_helper('Accounts', accounts_path)
= nav_link_helper('Banks', banks_path)
= nav_link_helper('Help', help_path)
= nav_link_helper('Contact', root_url)
