%li= link_to 'Accounts', accounts_path, class: 'navbar-btn btn', role: 'button'
%li= link_to 'Banks', banks_path, class: 'navbar-btn btn', role: 'button'
%li= link_to 'Bills', bills_path, class: 'navbar-btn btn', role: 'button'
%li= link_to current_user.email, edit_user_registration_path, class: 'navbar-btn btn', role: 'button'
%li.dropdown
  %a.navbar-btn.btn{:href => new_user_invitation_path, role: 'button'}
    Invite
    %span.badge 3

%li= link_to 'Logout', destroy_user_session_path, :method => :delete, class: 'navbar-btn btn', role: 'button'