!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Finance Forecaster'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Finance Forecaster'}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header#navbar-main{style: "background-color:#000;"}
      = render 'layouts/navigation'
      - if @example_user
        %nav.navbar.navbar-fixed-top{style: "top:70px;"}
          = render 'layouts/viewing_as'
    %main#wrap{:role => "main"}
      .row{style: "margin-top:6em;"}
        .col-md-12
          .container

            = render 'layouts/messages'
        .col-md-offset-1.col-md-10
          %section
            = yield
    #footer
      = render 'layouts/footer'
