!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : Rails.application.class.parent_name.titleize
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : Rails.application.class.parent_name.titleize}"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-61177293-2"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-61177293-2');
    %script{:src => "https://www.google.com/recaptcha/api.js"}
    %link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.13/css/all.css", :integrity => "sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp", :rel => "stylesheet"}
    = csrf_meta_tags
  %body
    %header#navbar-main
      = render 'navigation/bar'
    %main{:role => "main"}
      .row{style: "margin-top:6em;"}
        .col-md-12
          .container
            = render 'layouts/messages'
        .col-md-offset-1.col-md-10
          %section
            = yield
    #footer
      = render 'layouts/footer'
