%div.table-responsive
  %table.table-focus.table.table-condensed.table-hover
    %thead
      %tr
        %th Name
        %th Website
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          - color = account.color
          %td= link_to account.name, account, :class => "btn btn-success btn-xs btn-block", style: "background-color:#{color};border-color:#{border_color color};border-bottom-color:#{shadow_color color};width:70%"
          %td
            = best_in_place account, :website, as: :input
          %td
            .pull-right.btn-group
              =link_to 'More Info', account, :class => "btn btn-success btn-xs"
              =link_to 'Destroy', account, :method => :delete, data: { confirm: "Deleting account '#{account.name}', Are you sure?" }, :class => "btn btn-danger btn-xs"
