.panel.panel-primary.filterable
  .panel-heading
    %h3.panel-title Accounts
    .pull-right
      %button.btn.btn-info.btn-xs#new-account-button{:type => "button"} New Account
  #new-account-form{style:'display:none;'}
    = render 'accounts/form'
  %div.table-responsive
    %table.table.table-condensed.table-hover
      %thead
        %tr
          %th Name
          %th Website
          %th
      %tbody
        - @accounts.each do |account|
          %tr
            - color = account.color
            %td= link_to account.name, account, :class => "btn btn-info btn-xs btn-block", style: "background-color:#{color};border-color:#{border_color color};border-bottom-color:#{shadow_color color};width:70%"
            %td= account.website
            %td
              .pull-right.btn-group
                =link_to 'More Info', account, :class => "btn btn-success btn-xs"
                =link_to 'Destroy', account, :method => :delete, data: { confirm: "Deleting account '#{account.name}', Are you sure?" }, :class => "btn btn-danger btn-xs"
:javascript
  $(document).ready(function(){
    $('#new-account-button').click(function(){
      $button = $('#new-account-button')
      $form = $('#new-account-form')
      $form.toggle();
      if ($form.is(":visible") ){
        $button.html("Cancel")
      } else {
        $button.html("Add Account")
      }
    });
  });