.row
  .mainbox.col-md-6.col-md-offset-3{:style => "margin-top:50px"}
    .panel.panel-focus.bordered
      .panel-heading
        %h3.panel-title Info
        %div{:style => "float:right; font-size: 85%; position: relative; top:-20px"}
          = link_to 'Delete', @account, :method => :delete, :data => { :confirm => "Delete #{@account.name}, Are you sure?" }, :class => "btn btn-danger btn-xs"
      .panel-body
        = form_for @account, html: {role: 'form', class: 'form-horizontal'} do |f|
          - if @account.errors.any?
            #error_explanation
              %h2
                = pluralize(@account.errors.count, "error")
                prohibited this account from being saved:
              %ul
                - @account.errors.full_messages.each do |message|
                  %li= message
          .form-group
            %label.col-md-3.control-label{:for => "account_name"} Name
            .col-md-9
              = f.text_field :name, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "account_website"} Website
            .col-md-9
              = f.text_field :website, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "account_account_number"} Account Number
            .col-md-9
              = f.text_field :account_number, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "account_address"} Address
            .col-md-9
              = f.text_field :address, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "account_phone"} Phone
            .col-md-9
              = f.text_field :phone, class: 'form-control'
          .form-group
            %label.col-md-3.control-label{:for => "account_color"} Color
            .col-md-9
              = f.text_field :color, class: 'minicolors form-control', :style => "height:34px;"
          .form-group
            .col-md-offset-3.col-md-9
              %button.btn.btn-success.btn-md.btn-group{:type => "submit"} Update
